
<html>
    <head>
        <title>404 MernUrlShorterner</title>
    </head>
    <body style="background: #000;">
        <div style="display: flex; justify-content: center; align-items: center;">
                <h1 style="color:greenyellow">
                    The page you requested cannot be found.
                </h1>   
            </div>
        </div>
    </body>
</html>